<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="lazerbahn" translate="label" sortOrder="10">
            <label>Lazerbahn</label>
        </tab>
        <section id="lazerbahn" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Antispam</label>
            <tab>lazerbahn</tab>
            <resource>Magento_Config::config_admin</resource>
            <group id="settings" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Settings</label>
                <field id="invalid_strings" translate="label" type="textarea" sortOrder="500" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Forbidden Strings in Registration</label>
                </field>
                <field id="enable_module" translate="label" type="select" showInDefault="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
